<div class="text-center">
<h1>Welcome to the EBCU Beer-o-Meter</h1>
<p class="center-block">
	<img src="images/logo.png" class="img-responsive img-rounded center-block" height="100" width="100" />
</p>
</div>
<ul class="list-unstyled well">
<li>
	<p>
		<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('en')">
		Continue in English
		</button>
	</p>
</li>
<li>
	<p>
		<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('fr')">
		Continuer en français
		</button>
	</p>
</li>
<li>
	<p>
		<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('de')">
		Weiter auf Deutsch
		</button>
	</p>
</li>
<li>
	<p>
		<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('es')">
		Continuar en español
		</button>
	</p>
</li>
<li>
	<p>
		<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('nl')">
		Ga door in het Nederlands en Vlaams
		</button>
	</p>
</li>
<li>
	<p>
	<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('pl')">
		Dalej w w języku polskim
	</button>
	</p>
</li>
<li>
	<p>
	<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('cs')">
		Pokračovat v češtině
	</button>
	</p>
</li>
<li>
	<p>
		<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('sv')">
		Fortsätt på svenska
		</button>
	</p>
</li>
<li>
	<p>
	<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('da')">
		Fortsæt på dansk
	</button>
	</p>
</li>
<li>
	<p>
		<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('fi')">
		Jatka suomeksi
		</button>
	</p>
</li>
<!--
<li>
	<p>
	<button type="button" class="btn btn-primary btn-block" ng-click="selectLanguage('cy')">
		Parhau yn y Gymraeg
	</button>
	</p>
</li>
-->
</ul>

